<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALLVxvQ6MfVF2g_spxi-mW-ApnqsReXxM</string>
	<key>GCM_SENDER_ID</key>
	<string>304507237033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madnew</string>
	<key>PROJECT_ID</key>
	<string>madnew-2a0a3</string>
	<key>STORAGE_BUCKET</key>
	<string>madnew-2a0a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304507237033:ios:7fe573f8b1ebe1c0276fb8</string>
</dict>
</plist>